{% extends "base.html" %}

{% block style_block %}
    <style>
        .chat{
            padding: 10px;
            border: 1px solid lightsteelblue;
            border-radius: 10px;
            margin-bottom:5px;
            transition: all .4s ease;
        }

        .chat-commands {
            opacity:0.6;
            text-align:right;
            height:15px;
        }

        .chat-commands div{
            float:right;
            margin-left:30px;
        }

        .chat-commands div a{
            margin-left:5px;
        }

        .chat.v-enter, .chat.v-leave {
            height: 0;
            padding: 0 10px;
            opacity: 0;
        }

        .reference-relation {
            background-color:lemonchiffon;
        }
        #message {
            border:1px solid silver;
            height:44px
        }

        #stamps {
            position:absolute;
            bottom:75px;
            height:200px;
            background-color:white;
            border:1px solid silver;
            border-radius:2px;
            width:90%;
            max-width:590px;
            padding:10px;
        }

        .stamp {
            width:70px;
            height:70px;
            float:left;
            margin:10px;
        }

        /* Sticky footer styles
        -------------------------------------------------- */
        html {
            position: relative;
            min-height: 100%;
        }

        body {
            /* Margin bottom by footer height */
            margin-bottom: 70px;
        }

        #footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            /* Set the fixed height of the footer here */
            height: 60px;
            background-color: #f5f5f5;
            padding-bottom:10px;
        }

        /* Custom page CSS
        -------------------------------------------------- */
        /* Not required for template or sticky footer method. */

        .container {
            width: auto;
            max-width: 680px;
        }
    </style>
{% endblock %}

{% block head_script %}
    <script src='/_ah/channel/jsapi'></script>
{% endblock %}

{% block menu %}
    {% include 'includes/chatnav.html' %} {# pull in navbar #}
{% endblock %}

{% block content %}
<div id="chats">
    <div>
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                Order <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="javascript:void(0)" v-on="click: orderByCreated">by Created Time</a></li>
                <li><a href="javascript:void(0)" v-on="click: orderByLike">by Like</a></li>
            </ul>
        </div>
    </div>
    <div id="chat-area" style="overflow:auto;margin-top:10px;">
        <div v-repeat="c : chats | filterBy '1' in 'visible' | orderBy sort_field sort_reverse" class="chat" v-attr="id: c.id" v-transition>
            <div>
                <span v-if="c.reference" v-on="click: refer(c)"><a href="javascript:void(0)"  class="glyphicon glyphicon-chevron-left"></a><br/></span>
                <span v-if="!c.type || c.type == 'text'">[[c.message]]</span>
                <img v-if="c.type == 'stamp'" v-attr="src: c.message" class="img-responsive">
            </div>
            <div class="chat-commands">
                <div><span class="glyphicon glyphicon-thumbs-up"></span><a href="javascript:void(0)" v-on="click: sendLike(c)">Like [[c.like]]</a></div>
                <div><span class="glyphicon glyphicon-arrow-left"></span><a href="javascript:void(0)" v-on="click: setReply(c)" >Reply</a></div>
                <br style="clear:both" />
            </div>
        </div>

        <!-- Modal for stamps-->
        <div id="stamps" style="display:none" >
            <div class="stamp-area">
                <img v-repeat="s : stamps" v-attr="src: s" class="stamp img-responsive" v-on="click: sendStamp">
            </div>
        </div>

    </div>
</div>
{% endblock content %}

{% block footer %}
<div id="footer" >
    <div class="container">
        <div class="input-group">
            <span class="input-group-btn">
                <button id="showStamp" type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-heart-empty"></span>
                </button>
            </span>
            <textarea id="message" class="form-control" rows="2" data-reference=""></textarea>
            <span class="input-group-btn">
                <input id="send" type="submit" value="send" class="btn btn-default" v-on="click : sendMessage" />
            </span>
        </div>
    </div>
</div>
{% endblock footer %}

{% block tail_script %}
    <script>
        CHANNEL = new goog.appengine.Channel('{{ token }}');
    </script>
    <script src="/server/assets/js/chat.js"></script>
{% endblock %}
