{% extends "base.html" %}

{% block style_block %}
    <style>
        .chat{
            padding: 10px;
            border: 1px solid lightsteelblue;
            border-radius: 10px;
            margin-bottom:5px;
            transition: all .4s ease;
        }

        .chat.v-enter, .chat.v-leave {
            height: 0;
            padding: 0 10px;
            opacity: 0;
        }
        .feature {
            background-color:lemonchiffon;
        }
        #message {
            border:1px solid silver;
            height:44px
        }

        #stamps {
            position:absolute;
            bottom:75px;
            height:200px;
            background-color:white;
            border:1px solid silver;
            border-radius:2px;
            width:90%;
            max-width:590px;
            padding:10px;
        }

        .stamp {
            width:70px;
            height:70px;
            float:left;
            margin:10px;
        }

        /* Sticky footer styles
        -------------------------------------------------- */
        html {
            position: relative;
            min-height: 100%;
        }

        body {
            /* Margin bottom by footer height */
            margin-bottom: 70px;
        }

        #footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            /* Set the fixed height of the footer here */
            height: 60px;
            background-color: #f5f5f5;
            padding-bottom:10px;
        }

        /* Custom page CSS
        -------------------------------------------------- */
        /* Not required for template or sticky footer method. */

        .container {
            width: auto;
            max-width: 680px;
        }
    </style>
{% endblock %}

{% block head_script %}
    <script src='/_ah/channel/jsapi'></script>
{% endblock %}

{% block menu %}
    {% include 'includes/chatnav.html' %} {# pull in navbar #}
{% endblock %}

{% block content %}
<h3 style="margin-top:0px;">Threds</h3>
<div id="chats" style="overflow:auto;">
    <div v-repeat="c : chats" class="chat" v-on="click: feature" v-transition>
        <span v-if="c.type == null || c.type == 'text'">[[c.message]]</span>
        <img v-if="c.type == 'stamp'" v-attr="src: c.message" class="img-responsive">
    </div>

    <!-- Modal for stamps-->
    <div id="stamps" >
        <div class="stamp-area">
            <img v-repeat="s : stamps" v-attr="src: s" class="stamp img-responsive" v-on="click: sendStamp">
        </div>
    </div>

</div>

{% endblock content %}

{% block footer %}
<div id="footer" >
    <div class="container">
        <div class="input-group">
            <span class="input-group-btn">
                <button id="showStamp" type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-heart-empty"></span>
                </button>
            </span>
            <textarea id="message" class="form-control" rows="2" ></textarea>
            <span class="input-group-btn">
                <input id="send" type="submit" value="send" class="btn btn-default" v-on="click : sendMessage" />
            </span>
        </div>
    </div>
</div>
{% endblock footer %}

{% block tail_script %}
    <script>
        CHANNEL = new goog.appengine.Channel('{{ token }}');
    </script>
    <script src="/server/assets/js/chat.js"></script>
{% endblock %}
