{% extends "base.html" %}

{% block style_block %}
    <style type="text/css">
        .description{
            border-left:3px double gainsboro;
            padding:5px 5px 15px 15px;
            margin-bottom:15px;
            height:200px;
        }
        .errors{
            margin-top:5px;
            color:#e74c3c;
        }
    </style>
{% endblock %}

{% block menu %}
    {% include 'includes/nav.html' %} {# pull in navbar #}
{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Robin Chorus</h1>
        <p>Robin Chorus is group chat service.</p>
    </div>

    <div id="guide" class="container">
        <div class="row">
            <div class="description col-md-5">
                <h3>Create the group</h3>
                <div class="form-inline" >
                    <div class="form-group">
                        <label class="sr-only" for="groupName">Group Name</label>
                        <input type="text" class="form-control" id="groupName" placeholder="Group Name" v-model="groupName">
                    </div>
                    <button class="btn btn-default" v-on="click:createGroup">Create Group</button>
                </div>
                <div class="errors">
                    <span v-show="!validation.groupName">Group cannot be empty.</span>
                </div>
            </div>
            <div class="description col-md-5 col-md-offset-1">
                <h3>Share link to the group</h3>
                <p style="color:silver;font-size:1.2em" v-if="!isCreated()">
                    If you create the group , <br/>link and qr-code are displayed here.
                </p>
                <p style="color:silver;font-size:1.2em" v-if="isCreated()">
                    <a v-attr="href:groupInfo.url" target="_blank" >Enter Group</a>
                    <a href="mailto:?subject=Invitation to Discussion Group&body=[[groupInfo.url]]" style="margin-left:25px">Send by mail</a>
                    <br/>
                    <img v-attr="src:qrCode()" />
                    <br/>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block tail_script %}
    <script src="server/assets/js/index.js"></script>
{% endblock %}
