{% extends "base.html" %}

{% block style_block %}
    <style>
        .chat{
            padding: 10px;
            border: 1px solid lightsteelblue;
            border-radius: 10px;
            margin-bottom:5px;
            transition: all .4s ease;
        }

        .chat-commands {
            opacity:0.6;
            text-align:right;
            height:15px;
        }

        .chat-commands div{
            float:right;
            margin-left:30px;
        }

        .chat-commands div a{
            margin-left:5px;
        }

        .chat.v-enter, .chat.v-leave {
            height: 0;
            padding: 0 10px;
            opacity: 0;
        }
        .chat div p{
            margin:0px;
        }

        .refereed {
            background-color:lemonchiffon;
        }
        #message {
            border:1px solid silver;
            height:44px
        }

        #stamps {
            position:absolute;
            bottom:75px;
            height:200px;
            background-color:white;
            border:1px solid silver;
            border-radius:2px;
            width:90%;
            max-width:590px;
            padding:8px;
            overflow:auto;
        }

        .stamp {
            width:70px;
            height:70px;
            float:left;
            margin:10px;
        }

        /* Sticky footer styles
        -------------------------------------------------- */
        html {
            position: relative;
            min-height: 100%;
        }

        body {
            /* Margin bottom by footer height */
            margin-bottom: 70px;
        }

        #footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            /* Set the fixed height of the footer here */
            height: 60px;
            background-color: #f5f5f5;
            padding-bottom:10px;
        }

        /* Custom page CSS
        -------------------------------------------------- */
        /* Not required for template or sticky footer method. */

        .container {
            width: auto;
            max-width: 680px;
        }
    </style>
{% end %}

{% block head_script %}
    <script src='//cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js'></script>
{% end %}

{% block menu %}
    {% include 'includes/chatnav.html' %} {# pull in navbar #}
{% end %}

{% block content %}
<div id="chats" style="visibility:hidden">
    <div>
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                Order <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="javascript:void(0)" v-on="click: orderByCreated">by Created Time</a></li>
                <li><a href="javascript:void(0)" v-on="click: orderByLike">by Like</a></li>
            </ul>
        </div>
    </div>
    <div id="chat-area" style="overflow:auto;margin-top:10px;">
        <div v-repeat="c : chats | filterBy '1' in 'visible' | orderBy sort_field sort_reverse" class="chat" v-attr="id: c.id" v-transition>
            <div>
                <span v-if="c.reference" v-on="click: refer(c)"><a href="javascript:void(0)"  class="glyphicon glyphicon-chevron-left"></a><br/></span>
                <div v-if="!c.type || c.type == 'text'" v-html="c.message | marked"></div>
                <img v-if="c.type == 'stamp'" v-attr="src: c.message" class="img-responsive">
            </div>
            <div class="chat-commands">
                <div><span class="glyphicon glyphicon-thumbs-up"></span><a href="javascript:void(0)" v-on="click: sendLike(c)">Like [[c.like]]</a></div>
                <div><span class="glyphicon glyphicon-arrow-left"></span><a href="javascript:void(0)" v-on="click: setReply(c)" >Reply</a></div>
                <br style="clear:both" />
            </div>
        </div>

        <!-- Modal for stamps-->
        <div id="stamps" style="display:none" >
            <ul class="nav nav-tabs nav-pills" role="tablist">
                <li v-repeat="stamps" >
                    <a href="#tab-[[$key]]" role="tab" data-toggle="tab">[[$key]]</a>
                </li>
            </ul>

            <div class="tab-content">
                <div v-repeat="stamps" class="tab-pane stamp-area" id="tab-[[$key]]" >
                    <img v-repeat="image : $value" v-attr="src: image" class="stamp img-responsive" v-on="click: sendStamp">
                </div>
            </div>
        </div>

    </div>
</div>
{% end %}

{% block footer %}
<div id="footer" >
    <div class="container">
        <div class="input-group">
            <span class="input-group-btn">
                <button id="showStamp" type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-heart-empty"></span>
                </button>
            </span>
            <textarea id="message" class="form-control" rows="2" data-reference=""></textarea>
            <span class="input-group-btn">
                {% raw xsrf_form_html() %}
                <input id="send" type="submit" value="send" class="btn btn-default" v-on="click : sendMessage" />
            </span>
        </div>
    </div>
</div>
{% end%}

{% block tail_script %}
    {% set url = '//{0}{1}'.format(request.host, request.uri) %}
    <script src="/static/js/reconnecting-websocket.js"></script>
    <script src="/static/js/chat.js"></script>
    <script>
        //render chat text as markdown
        var renderer = new marked.Renderer();
        (function(){
            anchorRender = {
                options:{
                    sanitize:true
                },
                render: marked.Renderer.prototype.link
            };
            renderer.link = function(href, title, text){
                var anchor = anchorRender.render(href, title, text);
                return anchor.replace("<a","<a target='_blank' ");
            }
        })();
        marked.setOptions({
          renderer: renderer
        })
        var url = location.protocol + "{{ url }}";
        $("#qrcode").qrcode({width: 100, height: 100, text: url});
        var mailto = $("#mailAddress").attr("href");
        $("#mailAddress").attr("href", mailto + url);
    </script>
{% end %}
